matiasperezinmuebles.com.ar, www.matiasperezinmuebles.com.ar {
    handle /uploads/* {
        root * /srv
        file_server
    }

    handle {
        reverse_proxy app:3000
    }
}

:3100 {
    reverse_proxy umami:3000
}
